main, body{
    max-width: 600px;
    margin: 0 auto;
    font-size: 14px;
}

body{
    padding: 1rem;
}

main{
    margin-top: 1rem;
}

.infos{
    display: flex;
    font-size: 12px;
    align-items: center;
}

.infos>a, .infos>img{
    margin-right: 1rem;
}

.buttons{
    margin: 1rem 0;
}

.buttons>button{
    margin: 0.25rem;
    font-size: 1.5rem;
}